//background
$white_bg: #ffffff;
$lightgray_bg: #f8f9fc;
$blue_bg: #202942;
$icons_bg: #eaeefb;

//codecard
$code_bg: #3c4858;
$select_bg: #4f5a69;
//text
$white_txt: #ffffff;
$dark_txt: #161c2d;
$lightgray_txt: #8492a6;
$blue_txt: #2f55d4;
$menu_txt: #3c5858;

//buttons background
$blue_btn: #2f55d4;
$lightblue_btn: #e4e9f8;
$lightblueborder_btn: #c2cbe5;
$darkblue_btn: #222e51;

//accents
$orange: #f17425;
$green: #2eca8b;
$red: #e43f52;
