@import './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

//mixin
@mixin lightblue-tag {
    color: $blue_txt;
    border: 1px solid $lightblueborder_btn;
    background-color: $lightblue_btn;
}

@mixin blue-button {
    color: $white_txt;
    background-color: $blue_btn;
    font-size: 1rem;
    border: none;
}

@mixin transparent-button {
    color: $blue_txt;
    background-color: transparent;
    border: 1px solid $blue_btn;
    font-size: 1rem;
}

//General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 60%;
    margin: auto;
}

section {
    padding: 2rem 0;
}

// Typeface
h1,
h2,
h3,
h4,
h5 {
    color: $dark_txt;
    margin: 2rem 0;
    font-weight: 500;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

li {
    list-style: none;

    a {
        text-decoration: none;
        color: inherit;
    }
}

p {
    color: $lightgray_txt;
    margin: 2rem 0;
}


.highlight {
    color: $blue_txt;
}

.green {
    color: $green;
}

//buttons
.blue-btn {
    @include blue-button;
    padding: 0.75rem 1rem;
    border-radius: 6px;

    &:hover {
        box-shadow: 0 2px 4px $lightblueborder_btn;
        cursor: pointer;
        transform: scale(1.01)
    }
}

.transparent-btn {
    @include transparent-button;
    padding: 0.75rem 1rem;
    border-radius: 6px;

    &:hover {
        box-shadow: 0 2px 4px $lightblueborder_btn;
        cursor: pointer;
        transform: scale(1.01)
    }
}

.round-btn {
    border-radius: 100vh;
}

.big-btn {
    width: 100%;
}